<table class="block_left_all" width="200" cellspacing="0" cellpadding="0">
  <tr>
    <td class="h_block_left" height="58"><b>$title</b></td>
  </tr>
  <tr>
    <td class="block_left">$content</td>
  </tr>
</table><br />