<table width="100%" class="h_t_c" cellspacing="0" cellpadding="0">
  <tr>
    <td height="42" width="110" class="l_t_c">&nbsp;</td>
    <td height="42" class="t_c"><b>$title</b></td>
    <td height="42" width="110" class="r_t_c">&nbsp;</td>
  </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="14" class="l_c">&nbsp;</td>

    <td class="c_c">$content</td>
    <td width="14" class="r_c">&nbsp;</td>
  </tr>
  <tr>
    <td width="14" height="14" class="l_f_c">&nbsp;</td>
    <td height="14" class="f_c">&nbsp;</td>
    <td width="14" height="14" class="r_f_c">&nbsp;</td>
  </tr>

</table>

<br />