body {
    background: none; 
    background: url(images/bottoom_bg.png) 0 bottom repeat-x #f8fcff; 
    overflow-x: hidden;
}
#ie_bottom {
    background:  url(images/top_bg.jpg) repeat-x bottom; height: 563px; width: 100%; position: absolute; top:0; z-index: -1;
}


#homeButton {
   margin-top: 15px;
}
hr {border: none;}
#search .input{
 float: left; margin-right: 5px;
}
#searchSubmit {margin-top: 1px;}
.input input {
    margin-top: -3px; line-height: 26px; 
}
#track li, #tag_lessons li{
  display: block;
  margin-right: 5px; margin-left: 0;
  float: left;
}
#tag_lessons {
    clear: both;
}
#lessons {
    clear: both;
}
#noRegister a {
    color: white
}
.textarea textarea{
    margin: -8px;
    padding-right: 30px;
}

.lessons h4 {
  float: left;
  margin-left: 10px;
}
#last5.lessons h4 {margin-left: 17px} 

.innerBox li.current a{
   border-bottom: solid 1px #cc3366; margin-right: 10px;
}
#rusellerOverlay{ filter: alpha(opacity=50); } 
.newComment .comment-content {border: solid 2px #66b366}
.noRegister a {color:white}
#saveToPersonal {
    display: block; width: 125px;
}
#saveToPersonal.saved{width: 50px;}
#saveToPersonal a {color: white;}
#knopka1{margin-top: -20px;}
h3 a {
    color: white;
}
.select {
    border: none;
}
.lessons .level div {
 display: inline; 
}

.box.drosha img.drosha{
    z-index: 99;
}
.box.drosha .question {margin-top: 15px;}