.ContentFlow .flow .item canvas.content{
    height: 100%;
    width: 100%;
}

.ContentFlow .flow .item img.content{
    width: 100%;
}

.ContentFlow .flow .item img.reflection,.ContentFlow .flow .item canvas.reflection{
    width: 100%;
}

.ContentFlow .flow .item .active{
    cursor: pointer;
}

.ContentFlow .flow .item .caption{
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    color: black;
    max-height: 30%;
    bottom: 10%;
    background: url('/pic/browse/1x1_0.5_white.png');
    width: 100%;
}

.ContentFlow .flow .item .caption{
    background-image: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='/pic/browse/1x1_0.5_white.png');
}

.ContentFlow .flow .item .caption a,.ContentFlow .flow .item .caption a:link,.ContentFlow .flow .item .caption a:visited,.ContentFlow .flow .item .caption a:active,.ContentFlow .flow .item .caption a:hover{
    text-decoration: none;
    color: black;
    font-style: italic;
    font-size: .8em;
}

.ContentFlow .flow .item .caption a:hover{
    text-decoration: underline;
}

.ContentFlow .scrollbar{
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    height: 16px;
    background: url('/pic/browse/scrollbar_white.png') left center repeat-x;
    position: relative;
    overflow: visible;
}

.ContentFlow .scrollbar .slider{
    width: 16px;
    height: 16px;
    background: url('/pic/browse/slider_white.png') center center no-repeat;
    cursor: move;
}

.ContentFlow .scrollbar .slider{
    background-image: none;
}

.ContentFlow .scrollbar .slider .virtualSlider{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src='/pic/browse/slider_white.png');
}

.ContentFlow .scrollbar .slider .position{
    top: 120%;
    font-size: 16px;
    font-weight: bold;
    color: silver;
}

.ContentFlow .globalCaption{
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 11pt;
    height: 20px;
    margin: 2em auto;
}

.ContentFlow .globalCaption .caption a,.ContentFlow .globalCaption .caption a:link,.ContentFlow .globalCaption .caption a:visited,.ContentFlow .globalCaption .caption a:active,.ContentFlow .globalCaption .caption a:hover{
    text-decoration: none;
    color: black;
    font-style: italic;
    font-size: .8em;
}

.ContentFlow .globalCaption .caption a:hover{
    text-decoration: underline;
}

.ContentFlow .loadIndicator{
    width: 100%;
    height: 100%;
    top: 20px;
    left: 0;
    background: white;
}

.ContentFlow .loadIndicator .indicator{
    background: url('/pic/loading.gif') center center no-repeat;
    width: 100%;
    height: 100%;
}

.ContentFlow .loadIndicator .indicator{
    height: 100px;
}

.ContentFlow{
    position: relative;
    overflow: hidden;
}

.ContentFlow{
    margin: 0;
    padding: 0;
}

.ContentFlow img{
    -ms-interpolation-mode: bicubic;
}

.ContentFlow .mouseoverCheckElement{
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    visibility: hidden;
}

.ContentFlow:hover .mouseoverCheckElement{
    left: 1px;
}

.ContentFlow .flow{
    position: relative;
    z-index: 0;
    visibility: hidden;
    width: 100%;
    margin: 0 auto;
     top: 20px;
}

.ContentFlow .flow .hidden{
    visibility: hidden;
}

.ContentFlow .flow .item{
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
}

.ContentFlow .flow .item .content{
    display: block;
}

.ContentFlow .flow .item div.content{
    width: 100%;
    height: 100%;
}

.ContentFlow .flow .item .label{
    display: none;
}

.ContentFlow .flow .item .reflection{
    display: block;
}

.ContentFlow .flow .item canvas.reflection{
    margin-top: -1px;
}

.ContentFlow .flow .item .caption{
    position: absolute;
    display: none;
}

.ContentFlow .scrollbar{
    position: relative;
    z-index: 1;
    visibility: hidden;
}

.ContentFlow .scrollbar .slider{
    position: absolute;
}

.ContentFlow .scrollbar .slider .virtualSlider{
    height: 100%;
}

.ContentFlow .scrollbar .slider .position{
    position: absolute;
    text-align: center;
}

.ContentFlow .globalCaption{
    position: relative;
    z-index: 1;
}

.ContentFlow .loadIndicator{
    position: absolute;
    z-index: 65000;
}

.top-menu {
    background: url("/pic/browse/top_menu.png") repeat scroll 0 0 #333333;
    border-bottom: 1px solid #000000;
    clear: left;
    float: left;
    height: 29px;
    overflow: hidden;
    width: 100%;
}
.top-menu ul {
    clear: left;
    float: left;
    left: 50%;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}
.top-menu li {
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    display: inline;
    float: left;
    font-size: 0.9em;
    line-height: 28px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    right: 50%;
}
.top-menu a:link, .top-menu a:visited, .top-menu a:active {
    color: #FFFFFF;
    font-size: 11pt;
    font-weight: normal;
    line-height: 28px;
}
.top-menu a:hover, .top-menu #selected:link, .top-menu #selected:visited {
    background-color: #111111;
}
.top-menu a:link, .top-menu a:visited, .top-menu a:active {
    display: block;
    line-height: 28px;
    padding: 0 19px;
    text-decoration: none;
}
.top-menu a:hover, .top-menu #selected:link, .top-menu #selected:visited {
}
.bordered {
    border: 1px solid #E0E0E0;
    padding: 4px;
    text-align: left;
}
.smartBox {
    background-color: #F5F5F5;
    border: 1px solid #929292;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 3px #555555;
    display: none;
    overflow: hidden;
    padding: 5px;
    position: absolute;
}
li.bl_distrs {
    cursor: pointer;
    display: inline;
    font-size: 14px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
}
li.bl_distrs_active {
    background-color: #b9e4f8;
}

li.bl_distrs:hover {
    background-color: #ccffff;
}

.d_bl_select {
    background: url("/pic/browse/d_bl_select.png") no-repeat scroll -27px 0 transparent;
    display: inline;
    position: absolute;
    margin: 2px 0 0 2px;
    width: 26px;
    height: 26px;
    float: left;
    cursor: pointer;
}

.d_bl_select_ns {
    background-position: -81px 0;
}

.d_bl_select_old {
    margin-left: 29px;
    background-position: 0 0;
}

.d_bl_select_old_ns {
    margin-left: 29px;
    background-position: -54px 0;
}

li.bl_distrs {
    border-radius: 6px 6px 6px 6px;
    cursor: pointer;
    display: inline;
    font-size: 14px;
}
li.bl_distrs_active {
    background-color: #B9E4F8;
}
li.bl_distrs:hover {
    background-color: #CCFFFF;
}
.d_bl_select {
    background: url("/pic/browse/d_bl_select.png") no-repeat scroll -27px 0 transparent;
    cursor: pointer;
    display: inline;
    float: left;
    height: 26px;
    margin: 2px 0 0 2px;
    position: absolute;
    width: 26px;
}
.d_bl_select_ns {
    background-position: -81px 0;
}
.d_bl_select_old {
    background-position: 0 0;
    margin-left: 29px;
}
.d_bl_select_old_ns {
    background-position: -54px 0;
    margin-left: 29px;
}