#chatContainer{
width:100%;
position:relative;
text-align:left;
}
#chatTopBar{
	background:url('../pic/chat/solid_gray.jpg') repeat-x #d0d0d0;
	border:1px solid #fff;
	margin-bottom:15px;
	position:relative;
	color:#777;
}
#chatTopBar .name{
	position:absolute;
	top:10px;
	left:40px;
}
#chatLineHolder{
	height:400px; /* ДЛИНА ЧАТА ПО ВЫСОТЕ*/
/*	min-height:1024px;  mIN ДЛИНА ЧАТА ПО ВЫСОТЕ*/
	max-height:2024px; /* mxa ДЛИНА ЧАТА ПО ВЫСОТЕ*/

	width:100%;
	margin-bottom:20px;
}
.chat{
	min-height:24px;
	padding:6px;
	border:1px solid #FFFFFF;
	
	padding:8px 6px 4px 5px;
	position:relative;
	margin:0 10px 10px 0;
}
.chat:last-child{
	margin-bottom:0;
}
.chat .text{
	overflow:hidden;
	vertical-align:top;
	width:95%;
}
.chat .time{
	position:absolute;
	right:10px;
	top:12px;
	font-size:11px;
}
.chat .author{
	margin-right:6px;
}
#chatBottomBar{
	background:url('../pic/chat/solid_gray.jpg') repeat-x #d0d0d0;
	position:relative;
	padding:10px;
	border:1px solid #fff;
}
#chatBottomBar .tip{
	position:absolute;
	width:0;
	height:0;
	border:10px solid transparent;
	border-bottom-color:#eeeeee;
	top:-20px;
	left:20px;
}
#chatContainer input{
	background:url('../pic/chat/input_bg.jpg') repeat-x #dcdcdc;
	height:26px;
	font:13px/26px Calibri,Arial,sans-serif;
	color:#000000;
	border:1px solid;
	border-color:#c1c1c1 #eee #eee #c1c1c1;
	text-shadow:1px 1px 0 #E4E4E4;
	padding:0 5px;
	margin-right:5px;
	outline:none;
}
.jspVerticalBar{
	background:none;
	width:20px;
}
.jspTrack{
	width:3px;
	right:-10px;
}
.jspDrag {
	background:url('../pic/chat/slider.png') no-repeat;
	width:20px;
	left:-9px;
	height:20px !important;
	margin-top:-5px;
}
.jspDrag:hover{
	background-position:left bottom;
}
#chatContainer .btn:hover{
	background-position:left bottom;
}
.rounded{
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
#chatErrorMessage{
	width:100%;
	top:0;
	left:0;
	position:fixed;
	background-color:#ab0909;
	border-bottom:1px solid #d32a2a;
	font-size:23px;
	padding:16px;
	text-align:center;
	color:#fff;
	text-shadow:1px 1px 0 #940f0f;
}