<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="border:0px;">
    
<table height="43" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="43" width="9" class="c1"></td>
    <td height="43" class="c2">&nbsp;</td>
    <td height="43" width="460" valign="top" align="center" class="c3">$title</td>
  </tr>

</table>

    </td>
  </tr>
  <tr>
    <td style="border:0px;">
    
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="3" class="c4"></td>
    <td  class="c5">$content</td>

    <td width="3" class="c6"></td>
  </tr>
</table>
    
    </td>
  </tr>
  <tr>
    <td style="border:0px;">
    
<table width="100%" height="16" border="0" cellspacing="0" cellpadding="0">
  <tr>

    <td width="52" class="c7"></td>
    <td class="c8">&nbsp;</td>
    <td width="137" class="c9"></td>
  </tr>
</table>
    
    </td>
  </tr>
</table>

<br />