<table width="198" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="42" align="center" valign="top"class="l1">$title</td>
  </tr>
  <tr>
    <td class="l2">$content</td>
  </tr>
  <tr>

    <td height="15" class="l3"></td>
  </tr>
</table>