<table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td class="block">
	<table width="100%" border="0" cellpadding="0" cellspacing="0"><tr>
	<td style="font-size:16px; font-style:italic; color:#717070;" width="100%" height="36" valign="middle"><font class="block-title" valign="bottom"><strong>$title</strong></font></td>
	</tr></table>
	<table width="100%" style="border:1px dotted #d7d7d7" cellspacing="1" cellpadding="3"><tr>
	<td align="left">$content</td>
	</tr></table>
</td></tr></table><br />