<table class="nob" width="100%" border="0" cellspacing="0" cellpadding="0">
<tr><td class="aa"></td><td class="bb" align="center">$title</td><td class="cc"></td>
</tr><tr><td class="dd"></td>
<td class="ee" valign="top" align="left">$content</td>
<td class="ff"></td></tr><tr><td class="hh"></td>
<td class="gg"></td><td class="ii"></td></tr></table><br />