<table class="nob" width="232" border="0" cellspacing="0" cellpadding="0"><tr>
<td align="center" valign="middle" class="block_top2">$title</td></tr><tr>
<td class="block_h2" valign="top" align="left"><span id="sb105" style="display: block;">
<center>$content</center></span></td></tr><tr><td class="block_foot2"></td></tr></table><br />