                			<div class="box">
                    <div class="innerBox">
    			         <h3>$title</h3>
                         <menu>
$content
                         </menu>
                    </div>                
                </div>
             