<div style="width: 100%; margin: 0px; padding: 0px">
<div class="countheadmid"><div class="countheadleft"><div class="countheadright"><div class="catheadtext3">

<BIG>$title</BIG>
</div></div></div></div>
<div class="clear"><!-- no content --></div>

<table cellpadding="0" cellspacing="0">
  <tr>
    <td class="catrow1" width="4%">&nbsp;</td>
    <td class="row2" width="92%">

<table cellpadding="0" cellspacing="0">
  <tr>
    <td class="nopad" width="1%">
&nbsp;
    </td>
    <td width="99%" style="padding: 10px; font-family: verdana; font-size: 11px; line-height: 150%">
$content
    </td>
  </tr>

</table>
    </td>
    <td class="catrow3" width="4%">&nbsp;</td>
  </tr>
</table>
<div class="catfoot"><div class="catfoot_left"><div class="catfoot_right"></div></div></div>
<div class="clear"></div>
</div>