<div class="general_box clearfix" id="statusHook">
<h3>$title</h3>
<div class="_sbcollapsable">$content</div>
</div>
<div class="catfoot2"><div class="catfoot_left2"><div class="catfoot_right2"></div></div></div><div class="clear"></div><br />