<div class="category_block block_wrap">

<div class="catheadmid">
<div class="catheadleft">
<div class="catheadright">

<div class="catheadtext"><BIG>$title</BIG></div>

</div></div></div>

<div class="clear"><!-- clear --></div>
	
<div class="catwrap">

<table class="ipb_table hoverow">

<div class="clear"></div>

		
<tr class="catrow1">

<td class="altrow" width="1%">&nbsp;</td>

<td class="cat_forum">$content</td>
						
<td class="cat_last_post" width="1%">&nbsp;</td>

</tr>				
														
</table>

</div>

<div class="catfoot">
<div class="catfoot_left">
<div class="catfoot_right"></div>
</div></div>
<div class="clear"></div>

</div>