body {
    background-image: url(images/bottoom_bg.png), url(images/top_bg.jpg);
	background-repeat: repeat-x;
	background-position: bottom, top;
    background-color: #f8fcff;
	font: 12px/18px Verdana, Tahoma, Arial, sans-serif;
    padding-bottom: 40px;
}
a {
	color: #0071d0;
	outline: none;
    cursor: pointer;
}
a:hover, .les a:hover{
    text-decoration: underline;
}

a.altlink_white:link, a.altlink_white:visited { font-weight: bold; }
a.altlink_white:hover { text-decoration: none; }

h1 {text-align: center; font-size: 16px; color: #333; font-weight: 700; margin-bottom: 20px;}
font a {color: inherit;}

.small {
  font-size: 7pt;
}

.big {
  font-size: 10pt;
}

#tooltip {
   position:absolute;
   display:none;
   z-index: 100;
   padding:4px 7px;
   border-left: 7px solid #9a9a9a;
   background: url("images/nenu_top_bg.png") repeat-x scroll 0 0 #353433;
    color: white; text-shadow: -1px -3px 1px #bf6e01;
    border: solid 1px #fcfede;
    box-shadow: 3px 3px 3px #c5c9cb;
}

.error {
	color: #990000;
	background-color: #FFF0F0;
	padding: 7px;
	margin-top: 5px;
	margin-bottom: 10px;
	border: 1px dashed #990000;
}
.error b {
	color: #990000;
	background: inherit;
}

.success {
	color: #000000;
	background: #F5FBE1;
	padding: 7px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px dashed #7BA813;
}

.success b {
	color: #7BA813;
	background: inherit;
}

.editor {
	margin: 0px 0px 1px 0px;
	width: 400px;
	height: 21px;
	border: 1px #D1D8EC solid;
}

.editorinput {
	background: #FAFAFA;
	color: #000000;
	border: 1px #D1D8EC solid;
	font-size: 11px; font-family: Verdana, Helvetica; text-decoration: none;
}

.editorbutton {
	float: left;
	cursor: pointer;
	padding: 2px 1px 0px 5px;
}

.hrmod {
  height: 1px; border: solid 1px #726B6B; background: #c5dcea;
}

select {
    padding: 0.1em 0.2em 0;
      background: url(images/glass_black.png) transparent;
    border-radius:5px;  -moz-border-radius:5px; -webkit-border-radius:5px;
}


select:hover {
     background: url(images/box-header-red.png) no-repeat;
}


input { border: 1px solid #51BF00; color: #4b4b4b;}
textarea { border: 1px solid #51BF00; color: #4b4b4b;}


input:focus { border: 1px solid #FF8705; color: #4b4b4b;}
textarea:focus { border: 1px solid #FF8705; color: #4b4b4b;}

input.pass
{ background: url(images/pass.gif) no-repeat; background-color: #fff; background-position: 0 50%; color: #000; padding-left: 18px;}
input.login
{ background: url(images/login.gif) no-repeat; background-color: #fff; background-position: 0 50%; color: #000; padding-left: 18px;}
input.search
{ background: url(images/search.gif) no-repeat; background-color: #fff; background-position: 0 50%; color: #000; padding-left: 18px;}
.pageEnd {padding: 12px; color: #FFFFFF; background-color: #3E95D1;}
.field_banner { color: #FFFFFF; background-image: url(images/field_banner.gif); background-repeat: no-repeat; height: 40px; padding-top: 5px; padding-right: 0px; padding-bottom: 9px; padding-left: 0px; width: 221px; border: 0px; vertical-align: middle; text-align: center;}
.field_bg { background-image: url(images/field_bg.gif); background-repeat: repeat-y; padding-left: 15px; padding-right: 15px; border: 0px;}
.noborder { border: none;}

table {
  border-collapse: collapse;
  border: none;
  background-color: white;
}

table.main {
  background-color: white;
}
table.mainouter {
  background-color: white;
  border: 0px;
}
table.bottom {
  background: transparent;
}
table.main2 {
  background-color: white;
  border: 0px;
}
table.blok {
  background-color: white;
}

td.pager { background-color: #FFFFFF; border: 1px solid #9CA4B0; padding: 2px; }

td.pagebr { background-color: #FAFAFA; border: 0px; padding: 0px; }

td.highlight { background-color: #EFEEE6; border: 1px solid #9CA4B0; padding: 2px; }


.row1 {
  text-align: left;
  background-color: #f7f7f7;
  padding: 4px;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px 1px 0;
  width: auto;
}
.row2 {

  background-color: #ececec;
  padding: 4px;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px 1px 0;
  width: auto;
}
.row3 {
  background-color : #f7f7f7;
  margin : 4px;
  padding : 10px;
  border-width : 0px;
  width: auto;
}

td {
	font-size: 8pt;
	border: 1px solid #E0E0E0;
	color:#7d7d7d;
}

td.block {
   font-size: 8pt;
   border: 0px;
}


td.right_menu {
 border: 0px;

}

td.commenttable {
background-color: #FFFEF2;
}

td.embedded {
   border: none;
  text-align: left;
}

td.bottom {
  border: none;
}

td.heading {
  font-weight: bold;
}

td.text {
  padding: 10pt;
  text-align: left;
}

td.comment {
  padding: 10pt;
  font-size: 8pt;
  text-align: left;
}

td.colhead {

  color: #516A88;
 background: url("images/nenu_top_bg.png") repeat-x scroll 0 0 #353433;
    color: white; text-shadow: 1px 0px 1px #FFFFFF;
}



td.rowhead {
  font-weight: bold;
  text-align: right;
  vertical-align: top;
}

td.title {
        font-size: 14pt;
}

td.navigation {
        font-weight: bold;
        font-size: 10pt;
   border: none;
}

button {
    background: none; border: none;
}

ol li {
    list-style: decimal; margin: 10px 30px ;
}
.clear {
    clear: both;
}

#body_alt {
    min-width: 990px;
    max-width: 1660px;
    text-align: center;
    margin: 0 auto;
    background: none;
    

}
#wrapper {
    text-align: left;
    width: 95%;
    margin: 0 auto;
}
li {
    list-style: none;
}
.box, .box2, #header, #rusellerBox  {
    background: url(images/glass_black.png) transparent;
    border-radius:15px;  -moz-border-radius:15px; -webkit-border-radius:15px;
}

code {font:99.9%/1.2 consolas,'courier new',monospace;}

#from a {margin:2px 2px;font-weight:normal;}
#tags {width:36em;}
a.selected {background:#1843f9; color:#e6e6e6; border: 1px #D1D8EC solid;}
.addition {margint-top:2em; text-align:right;}
.popup { cursor: help; text-decoration: none } 

input.mail {
    background: url(/pic/contact/email.gif) no-repeat;
    background-color: #fff;
    background-position: 0 50%;
    color: #000;
    padding-left: 18px;
}

.rowhead2 {
  font-weight: bold;
  text-align: right;
 
}
input.pass {
    background: url(/pic/contact/pass.gif) no-repeat;
    background-color: #fff;
    background-position: 0 50%;
    color: #000;
    padding-left: 18px;
}
input.login {
    background: url(/pic/contact/login.gif) no-repeat;
    background-color: #fff;
    background-position: 0 50%;
    color: #000;
    padding-left: 18px;
}
input.brt {
    background: url(/pic/brt.gif) no-repeat;
    background-color: #fff;
    background-position: 0 50%;
    color: #000;
    padding-left: 18px;
}
input.skype {
    background: url(/pic/contact/skype_13.gif) no-repeat;
    background-color: #fff;
    background-position: 0 50%;
    color: #000;
    padding-left: 18px;
}
input.icq {
    background: url(/pic/contact/icq_13.gif) no-repeat;
    background-color: #fff;
    background-position: 0 50%;
    color: #000;
    padding-left: 18px;
}
div#ajaxerror {
    background: #FFDDDD url(/pic/error.gif) no-repeat 5px 50%; 
    padding:5px 5px 5px 24px; 
    text-align:left; 
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    color:#333; 
    font-size:11px; 
}
div#ajaxsuccess { 
    background: #E7FFCE url(/pic/ok.gif) no-repeat 5px 50%; 
    padding:5px 5px 5px 24px; 
    text-align:left; 
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    color:#333; 
    font-size:11px; 
}
input.odnoklasniki { background: url(/pic/contact/odnoklasniki_13.gif) no-repeat;  background-color: #fff;  background-position: 0 50%;   color: #000;    padding-left: 18px;}
input.vkontakte { background: url(/pic/contact/vkontakte_13.gif) no-repeat;    background-color: #fff;    background-position: 0 50%;    color: #000;    padding-left: 18px;}

input.mail{background: url(/pic/contact/email.gif) no-repeat;    background-color: #fff;    background-position: 0 50%;    color: #000;    padding-left: 18px;}
.rowhead2 {  font-weight: bold;  text-align: right;}

input.pass {
    background: url(/pic/pass.gif) no-repeat;
    background-color: #fff;
    background-position: 0 50%;
    color: #000;
    padding-left: 18px;
}

.rowhead2 {
  font-weight: bold;
  text-align: right;
 
}

input.login {
    background: url(/pic/login.gif) no-repeat;
    background-color: #fff;
    background-position: 0 50%;
    color: #000;
    padding-left: 18px;
}
.error2 {
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-top: 5px;
	border: 1px dotted red;
}

.En_J {
font-size:11px;
color:#FF00FF;
font-family:Verdana;  
  
padding-top:4px; }  

.E_nJ { 
font-size:11px;       
font-family:Verdana;
width:70%;  
height:21px; 
text-align:center; }

input.pass { background: url(/pic/contact/pass.gif) no-repeat; background-color: #fff;  background-position: 0 50%; color: #000; padding-left: 18px; }
input.login { background: url(/pic/contact/login.gif) no-repeat;  background-color: #fff; background-position: 0 50%; color: #000; padding-left: 18px; }

fieldset {
    border-bottom: none;

    padding: 2px 8px;
    cursor: default;border: dashed 1px gray;
}

.input {
    width: 180px; overflow: hidden; height: 24px; background: white; border: solid 1px white; text-align: center; margin-bottom: 10px;
}
.input input{ 
    width: 190px;
    height: 26px;
    background: white;
    margin: -5px 0 0 -5px;
    padding: 2px 8px;


}
.input.error input, .input.error{
    background: #ff9999;
}
.input.error {
    border: solid 1px #ff9999;
      box-shadow: 0 0 10px 1px #ff9999;
      -moz-box-shadow: 0 0 10px 1px #ff9999;
      -webkit-box-shadow: 0 0 10px 1px #ff9999;    
}
.input.focus{
  box-shadow: 0 0 10px 1px white;
  -moz-box-shadow: 0 0 10px 1px white;
  -webkit-box-shadow: 0 0 10px 1px white;
    
}

.textarea.focus {
  box-shadow: 0 0 10px 1px #ccc;
  -moz-box-shadow: 0 0 10px 1px #ccc;
  -webkit-box-shadow: 0 0 10px 1px #ccc;    
}


td.a { padding : 6px; font-family : Verdana, Tahoma, Arial, sans-serif; font-size : 8pt; border-style : solid; border-width : 1px 1px 1px;}
td.a { background-color : #EFEFEF; padding : 6px; font-family : Verdana, Tahoma, Arial, sans-serif; font-size : 8pt; border-style : solid; border-width : 1px 1px 1px;}


.select {
    width: 240px; border: solid 1px #ccc; height: 26px; line-height: 26px;
}
.select select {
    width: 220px; border: none; margin-left: 5px; padding: 2px; background: white;
}
.select select:focus, .select select option:focus {

}

/* Кнопки */
.button {
    width: 150px; height: 30px; line-height: 30px; display: block;
    background-repeat: repeat-x;
    font-size: 14px;
    text-align: center;
    margin-top: 10px; margin-bottom: 10px;
    cursor: pointer;
}
button.button {
    line-height: 26px;
}
.btn{
    cursor: pointer;
    background-image: url(images/green_bg.png);
    border: solid 1px #c0c09f;
    color: white; text-shadow: -1px -1px 1px #3f6700;
    box-shadow: 1px 1px 1px #9a9a9a;
}

input.btn:hover{
        cursor: pointer;
    background-image: url(images/orange_bg.png);
    color: white; text-shadow: -1px -1px 1px #bf6e01;
    border: solid 1px #fcfede;
    box-shadow: 2px 2px 2px #c5c9cb;
}
img.avatar {
    width: 60px;
} 
/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 150px;
    margin-top: -15px;
    padding: 15px; padding-top: 0;
    margin-bottom: 20px;
   
}

#innerHeader{
    background: url(images/header_bgl.png); width: 100%; height: 150px;
    position: relative; 
}
#droshaHeader {
    position: absolute; top:15px; left:-17px; z-index: 99;
}
#header1, #header2 {
    position: absolute; top:-1px;
}
#header1 {left:0}
#header2 {right:0; display: none;}

#logo {
    position: absolute; top:30px; right: 7%; 
}
#innerHeader p {
    color: #feffa1; position: absolute; top:100px; right: 7%; font-size: 11px; word-spacing: 0.15em;
}
/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	height: 1%;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	padding: 0 245px 0 245px;
    position: relative;
}
#contentchat {
    position: relative;
}

.contentConteiner{
    border: solid 1px white;
    background: white; 
    padding: 20px; 
    margin: 0 20px; margin-bottom: 20px;
    /* box-shadow: 0 0 5px grey;*/ 

}
#rightContent, #leftContent {
    float: left; width: 49%;
}
#rightContent {
    margin-left: 2%;
}
.contentConteiner h2 {
    font-size: 16px; color: #666; font-weight: 700; border-bottom: solid 1px #e1e1e1; padding-bottom: 10px; margin: 30px 0 15px 0;
}

/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
	float: left;
	width: 240px;
	margin-left: -100%;
	position: relative;
}


/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	float: right;
	margin-right: -3px;
	width: 240px;
	margin-left: -240px;
	position: relative;
}

#hideRightSidebar {
    position: absolute; cursor: pointer; right: 275px; top:10px;
    width: 32px; height: 24px; background: url(images/resize.png) 0 -24px no-repeat;
    display: none;
}
#hideRightSidebar.active{
     background: url(images/resize.png) no-repeat;
}
#hideRightSidebar:hover{opacity:0.7}
#showSidebar {
    position: fixed; right: 0; top: 50%; margin-top: -90px; display: none; cursor:pointer; background: transparent;
}
/* Footer
-----------------------------------------------------------------------------*/

#footer_wrap {
     border: solid 1px #f8fcff;
     background: #f8fcff;
     position: relative; bottom: 10px; height: 320px; width: 98%; z-index: -1;
     margin: -200px auto 20px auto;
     
}
#footer {
    width: 98%; height: 50px; margin-top: -70px; position: relative; z-index: 1;

}
#footer ul {width: 650px; position: absolute; bottom: 10px; left: 50%; margin-left: -200px;  z-index: 10;}
#footer li {float: left; white-space: nowrap; display: block; margin: 0}
#footer li a {text-decoration: underline; padding: 3px 0;}
#footer li a:hover {text-decoration: none}
#footer li span {
    margin: 0 5px;
}

#copyright{
    position: absolute; bottom: -40px; width: 100%; left: 0;
    text-align: center; display: block; margin-bottom: 20px;
}

/* Top menu
-----------------------------------------------------------------------------*/
#top_menu {
    background: url(images/nenu_top_bg.png) #353433 repeat-x; height: 48px; line-height: 48px; margin-bottom: 20px; overflow: hidden;
}
#top_menu form {
    display: block; margin: 0; margin-top: -2px;
}
#search {
    float: right; width: 220px;
    background: url(images/search_bg.png) no-repeat 0 0; padding-left: 40px;
    color: #f8fcff; font-weight: 700;
    height: 48px;
    margin-left: -50px;
}
#search .input {
    width: 150px; display: inline-block; margin-bottom: 0; margin-top: 12px; 
}
#search .input input{
    margin-bottom: 5px; margin-top: -5px; display: block;
}
#searchSubmit
{
    border: solid 1px #ccc; vertical-align: top;
    height: 26px; line-height: 20px;  margin-top: 12px;
    background: url(images/btn.png);
    width: 40px; color: #333;
    text-shadow:1px 1px 2px #fff    
}
/*
#search button{
    border: solid 1px #ccc; vertical-align: top;
    height: 26px; line-height: 20px;  margin-top: 12px;
    background: url(images/btn.png);
    width: 40px; color: #333;
    text-shadow:1px 1px 2px #fff
 }
*/
#top_menu nav {
    display: block; float: left;  margin-left: 15px;  width: 680px; margin-top: 0; padding: 0; 
}

#top_menu nav a{
    display: block; float: left; color: white; text-decoration: none; padding: 0 10px; position: relative; font-weight: 700;
}
a.copyright {
color: white; 
}

#top_menu nav a img.separator {
    position: absolute; right: 0; top:0
}
#top_menu nav a:hover, #top_menu nav a.current {
    background: url(images/menu_current.png) #353433 repeat-x 0 2px; 
}
#homeButton{
   margin: -4px 5px 4px 5px;
}

#sideLeft menu li:hover{
    margin-left: 0;
}

/* Other
------------------------------------------------------------------------------*/ 
.corner5, .button, hr, .input, .select, img.avatar, .CommentButton a, .newComment textarea, .commentAction, #pagenav a, #saveToPersonal, .noRegister{
    border-radius:5px;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
}

.corner15, .contentConteiner, #footer_wrap, #top_menu, .comment-content, #rusellerBox, .register_form{
    border-radius:15px;
   -moz-border-radius:15px;
   -webkit-border-radius:15px;
}
.innerBox, .innerBox2, .textarea, .innerBoxCenter, #demoAndSourse, #demoAndSourse div, #rusellerBoxContent {
    border-radius:12px;
   -moz-border-radius:12px;
   -webkit-border-radius:12px;

   }

span.green, strong.green {
    color: green; 
}



.box, .box2{
    padding: 10px; margin-bottom: 20px;
}
#newLessons {
    margin-bottom: -10px;
}

.box.noGlass, .box2.noGlass  {
    background: none; border: none; padding-top: 0; padding-bottom: 0;
}
.innerBox {
    background: white; padding-bottom: 20px;

}
.innerBox h4 {
   font-size: 14px; color: #333; margin-bottom: 10px;
}
.innerBox.menu h4 {margin: 10px 10px 0 20px; font-size: 12px; font-size: 12px; font-weight: 700; cursor: pointer; color: #315e63;}
.innerBox.menu h4:hover{text-decoration: underline;}
.innerBox menu {margin: 0; padding: 20px 10px; padding-bottom: 0;}
.innerBoxCenter menu {margin: 0; padding: 20px 10px; padding-bottom: 0;}


a.menu:link, a.menu:visited { font-weight: normal;}
a.menu:active { color: #8BB46F; font: 13px/18px "Trebushet MS, Verdana, Tahoma, sans serif"}
a.menu:hover { background-image: url(images/orange_bg.png);  color: white; text-shadow: -1px -1px 1px #bf6e01;  border: solid 1px #fcfede;  box-shadow: 2px 2px 2px #c5c9cb;}
a.menu { display:block; margin: 10px 10px 0 20px; font-size: 12px; font-size: 12px; font-weight: 700; cursor: pointer; color: #315e63;}
a { font-size: 12px; font-size: 12px; font-weight: 700; cursor: pointer; color: #315e63;}
a:hover {font-size: 12px; font-size: 12px; font-weight: 700; cursor: pointer; color: #315e63; color: #8BB46F; text-decoration:underline;}

.innerBoxCenter {
    background: white; padding-bottom: 20px;

}

.innerBox h3 {
    background: url(images/box-header.png) no-repeat; width: 230px; height: 42px; line-height: 42px; color:white; padding-left: 20px; font-size: 14px; text-shadow:1px 1px 1px #444;
		display:inline-block;
}
.innerBox.red h3 {
     background: url(images/box-header-red.png) no-repeat; text-shadow:1px 1px 1px #a32017; -moz-text-shadow:1px 1px 1px #a32017;
		display:inline-block;
}
.box.noGlass h3 {
    background: url(images/box-header2.png) no-repeat;  
			display:inline-block;
}

.innerBox menu li{
    margin: 0; height: 30px; background: url(images/arrow.png) 0 6px no-repeat; padding-left: 10px; 
}
.innerBox menu li.current{
   background: url(images/arrow.png) 0 -20px no-repeat;
}
.innerBox menu li a{
    display: block; border-bottom: solid 1px #ccc; margin-right: 10px; padding-bottom: 5px; color: #3a505c; height: 17px;overflow: hidden; 
}
.innerBox menu li a span{
    color: #cc3366;
}
.innerBox menu li a{text-decoration: none !important;}

#rss {
    padding: 10px 20px;
}
.innerBox img{
    margin: 0 auto;
}

.sidebarForm {
    background: url(images/big_grey.png) 0 -10px no-repeat #393939; padding: 20px;
}
.sidebarForm h4, .sidebarForm label {color:white; }
.sidebarForm label {font-size: 11px;}


li .comment-content.odd  {background: #f9f9f9; box-shadow: 0 0 5px 1px #f5f5f5; -moz-box-shadow: 0 0 5px 1px #f5f5f5; -webkit-box-shadow: 0 0 5px 1px #f5f5f5;}
li .comment-content.odd .vcorner{background: url(images/comment.png) 0 -14px}

li.newComment .comment-content { background: #f6f6f6; box-shadow: 0 0 5px 1px green; -moz-box-shadow: 0 0 5px 1px green; -webkit-box-shadow: 0 0 5px 1px green }
li.newComment .comment-content.odd .vcorner, .newComment .comment-content .vcorner {background: url(images/comment.png) 0 -28px}
li.newComment p.error{
    color:red; font-weight: 700; display: none;
}


a#prevpromo, a#nextpromo, a#playmain { position: absolute; z-index: 2; }
a.prevPromo, a.nextPromo { display:block; width:23px; height:26px; background:url(../pic/tabs/nav_promo_prev.png) no-repeat; float:left; margin:0px; cursor:pointer;}
a.prevPromo:hover, a.nextPromo:hover, a.play:hover, a.pause:hover  { background-position: 0px -26px; }
a.nextPromo { background-image:url(../pic/tabs/nav_promo_next.png); clear:right; }
a.play, a.pause { display:block; width:22px; height:26px; background:url(../pic/tabs/nav_promo_play.png) no-repeat; float:left; margin:0px; cursor:pointer; font-size:1px;}
a.pause { background-image:url(../pic/tabs/nav_promo_pause.png); }

div#main_scrollable, div#news_scrollable { float:left; }
div#main_scrollable { position:relative; overflow:hidden; width: 918px; height: 200px;}
div#main_scrollable div.items { width:20000em; position:absolute; clear:both; }
div#main_scrollable div.items .item { float:left; width: 918px; height: 200px; }
div#main_scrollable div.image { width: 35%; float: left;}
div#main_scrollable div.context { width: 520px; float: right; padding: 1px 20px 5px;}
div#main_scrollable h2 { font-size: 27px; line-height: 24px; margin: 0px; padding: 0px; font-weight: normal;}
div#main_scrollable div.text { margin-top: 10px; line-height: 15px;}
div#main_scrollable div.detail { text-align: right; font-weight: bold;}
div#main_scrollable div.yellow div.context { color: #000;}
div#main_scrollable div.yellow h2 { color: #005aab;}
div#main_scrollable div.white2 h2 { color: #005aab;}
div#main_scrollable div.gray { background: #EAEAEA;}
div#main_scrollable div.gray h2 { color: #005aab;}
/*div#main_scrollable div.white2 div.context { color: #005aab;}*/
div#main_scrollable div.yellow a { color: #005aab;}

a.prevNews, a.nextNews { display:block; width:8px; height:232px; background:url(../pic/tabs/nav_main_prev.png) no-repeat; float:left; margin:0px 1px; cursor:pointer; font-size:1px; }
a.prevNews:hover, a.nextNews:hover { background-position: 0px -232px; }
a.nextNews { background-image:url(../pic/tabs/nav_main_next.png); clear:right; }

div#news_scrollable { position:relative; overflow:hidden; width: 680px; height:232px; padding: 0; }
div#news_scrollable div.items { width:20000em; position:absolute; clear:both; }
div#news_scrollable div.items .item { float:left; width: 216px; padding: 12px 6px 8px 2px; height: 210px; margin-right: 1px; border: solid 1px #cfcfcf; background: #f6f6f6; }

div#news_scrollable .item img { border-left: solid 4px #ffda1a; padding: 0px 1px; }
div#news_scrollable .item .title { font-size: 11px; font-weight: bold; margin: 0px 10px 16px 12px; }

div#news_scrollable .item .detail { color: #005aab; margin: 10px 14px; }
div#news_scrollable .item  .detail a { padding: 2px; background: #ffd61c; color: #000; text-decoration: none; }


a img {border: 0; text-decoration: none; outline: 0;}
#page-wrap {width: 760px; padding: 15px; background: white; margin: 0 auto 50px; position: relative;}
#col1{width: 49%; float: left; margin: 0 0 20px 0;}
#col2 {width: 49%; float: right;}
pre {font: 13px/1.8 Monaco, MonoSpace; margin: 0 0 15px 0;}
.any ul{margin: 0 0 25px 25px;}
.anie ul .anie li {font: 15px Georgia, Serif; margin: 0 0 8px 0;}
#dl {position: absolute; top: 10px; right: 0; background: black; color: white; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 3px 6px;}
#dl:hover{background: #666;}
.image{position: relative; margin-bottom: 20px; width: 100%;}
.image h2 {position: absolute; top: 220px; left: 0; width: 100%;}
.image h2 span {color: white; font: bold 30px/40px Helvetica, Sans-Serif; letter-spacing: -1px; background: rgb(0, 0, 0); background: rgb(0, 0, 0, 0.7); padding: 6px 8px;}
.image h2 span.spacer          {padding: 0 2px; background: none;}
#textSlide   {padding: 10px 30px;}
#textSlide h3 {font: 20px Georgia, Serif;}
#textSlide h4 {text-transform: uppercase; font: 15px Georgia, Serif; margin: 10px 0;}
#textSlide ul {list-style: disc; margin: 0 0 0 25px;}
#textSlide ul li {display: list-item;}
#quoteSlide {padding: 20px;}
#quoteSlide blockquote {font: italic 24px/1.5 Georgia, Serif; text-align: center; color: #444; margin: 0 0 10px 0;}
#quoteSlide p {text-align: center;}
.anythingSlider {width: 760px; height: 360px; position: relative; margin: 0 auto 15px;}
.anythingSlider .wrapper {width: 680px; overflow: auto; height: 341px; margin: 0 40px; position: absolute; top: 0; left: 0;}
.anythingSlider .wrapper ul{width: 9999px; list-style: none; position: absolute; top: 0; left: 0; background: #eee; border-top: 3px solid #e0a213; border-bottom: 3px solid #e0a213; margin: 0;}
.anythingSlider ul li{display: block; float: left; padding: 0; height: 317px; width: 680px; margin: 0;}
.anythingSlider .arrow{display: block; height: 200px; width: 60px; background: url(/pic/arrows.png) no-repeat 0 0; text-indent: -9999px; position: absolute; top: 65px; cursor: pointer;}
.anythingSlider .forward{background-position: 0 0; right: -20px;}
.anythingSlider .back{background-position: -67px 0; left: -20px;}
a.forward:active{background-position: 0 -200px;}
a.back:active{background-position: -67px -200px;}
#thumbNav{position: relative; top: 323px; text-align: center;}
#thumbNav a{color: black; font: 18px; Georgia, Serif; display: inline-block; padding: 2px 8px; height: 25px; margin: 0 5px 0 0; background: #c58b04 url(/pic/cellshade.png) repeat-x; text-align: center; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 3px; -webkit-border-bottom-left-radius: 3px;}
#thumbNav a:hover{background-image: none;}
#thumbNav a.cur{background: #e0a213;}
#start-stop{background: red; background-image: url(/pic/cellshade.png); background-repeat: repeat-x; color: white; padding: 2px 5px; width: 40px; text-align: center; position: absolute; right: 45px; top: 323px; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px;}
#start-stop.playing {background-color: green;}
#start-stop:hover {background-image: none;}
.anythingSlider .wrapper ul ul {position: static; margin: 0; background: none; overflow: visible; width: auto; border: 0;}
.anythingSlider .wrapper ul ul li {float: none; height: auto; width: auto; background: none;}


.newltab td{ border:0px; padding-bottom:5px;}
.newltab {margin:auto;width:100%;}

#tabs {padding-top: 7px }
#tabs span:hover {background-image: url(images/orange_bg.png); color: white; text-shadow: -1px -1px 1px #bf6e01; border: solid 1px #fcfede;   box-shadow: 2px 2px 2px #c5c9cb;}
.active{color: #C60000;}
#tabs .tab {
    cursor: pointer;background-image: url(images/green_bg.png); border: solid 1px #c0c09f;color: white; text-shadow: -1px -1px 1px #3f6700;box-shadow: 1px 1px 1px #9a9a9a;padding:2px 10px;
    line-height: 23px;
    margin-right: 5px;
    padding: 5px 10px;
}



.paginator{margin-top:2px;font-size:2em;width:100%;}
.paginator table{border:0}
.paginator table td{white-space:nowrap;text-align:center;border:0;padding:0}
.paginator span{display:block;color:#fff;padding:3px 0}
.paginator span strong,.paginator span a{cursor: pointer;background-image: url(images/green_bg.png);border: solid 1px #c0c09f;color: white; text-shadow: -1px -1px 1px #3f6700;box-shadow: 1px 1px 1px #9a9a9a;padding:2px 10px;}
.paginator span a:hover{ cursor: pointer;  background-image: url(images/orange_bg.png); color: white; text-shadow: -1px -1px 1px #bf6e01; border: solid 1px #fcfede; box-shadow: 2px 2px 2px #c5c9cb;}
.paginator span a:active{border:1px solid #6299c5;color:#fff;background:#6299c5}
.paginator span strong{font-style:normal;font-weight:400;background:#0f6cee}
.paginator .scroll_bar{width:100%;height:20px;position:relative;margin-top:6px}
.paginator .scroll_trough{width:100%;height:3px;overflow:hidden;background:#ccc}
.paginator .scroll_thumb{position:absolute;z-index:2;width:0;height:3px;top:0;left:0;font-size:1px;background:#363636}
.paginator .scroll_knob{position:absolute;top:-5px;left:50%;margin-left:-10px;width:20px;height:20px;overflow:hidden;cursor:pointer;background:url(/pic/slider_knob.gif) no-repeat 50% 50%}
.paginator .current_page_mark{position:absolute;z-index:1;top:0;left:0;width:0;height:3px;overflow:hidden;background:#ff6c24}

.fullsize .scroll_thumb{display:none}
.paginator_pages{width:auto;text-align:right;font-size:.8em;color:gray;margin-top:-10px}


.spoiler-wrap {
	width: 99%;
	margin: 3px auto;
	padding: 1px 0px 1px;
	clear: both;
	background: #E9E9E6;
	border: solid #C3CBD1;
	border-width: 1px 1px 1px 1px;
    background-image: url(images/green_bg.png);
    border: solid 1px #c0c09f;
    color: white; text-shadow: -1px -1px 1px #3f6700;
    box-shadow: 1px 1px 1px #9a9a9a;
}
.spoiler-head {
	padding: 2px 0px 3px;
	margin-left: 6px;
	line-height: 12px;
	font-weight: bold;
    
    
}
.spoiler-body {
	padding: 5px 5px 5px 5px;
	display: none;
	border-top: 1px solid #C3CBD1;
	background: #F5F5F5;
    
}
.spoiler-body_ {
	width: 99%;
	padding: 1px 3px 1px 3px;
	display: none;
	border: solid #C3CBD1;
	border-width: 1px 1px 1px 1px;
	background: #E9E9E6;
	margin: 3px auto;
}
.spoiler-foot {
    border-top: 1px solid #E6E6E6;
    color: #545454;
    font-size: 11px;
    margin-top: 6px;
    text-align: center !important;
    cursor: pointer;
    background-image: url(images/orange_bg.png);
    color: white; text-shadow: -1px -1px 1px #bf6e01;
    border: solid 1px #fcfede;
    box-shadow: 2px 2px 2px #c5c9cb;
}

.clickable {
	cursor: pointer;
}
.folded {
	display: block;
	background: transparent url(/pic/plus.gif) no-repeat left center;
	padding-left: 14px; 
}
.unfolded {
	display: block;
	background: transparent url(/pic/minus.gif) no-repeat left center;
	padding-left: 14px;
}



.keyboardLayout {position: absolute; margin: 1px 0 0 -20px; margin-top: 2px; width: 17px; height: 20px; color: #999; text-align: right;}


input.searchgif {
background:#FFFFFF url(/pic/browse/search.gif) no-repeat scroll 0 50%;
color:#000000;
padding-left:18px;
}




#poll_container {
	width:100%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
#poll_title {
	font-size: 14px;
	font-weight:bold;
	border:none;
	text-align:center;
}
.barmax, .bar {
	border:1px solid #c1bcbc;
	padding-left:2px;
	padding-right:2px;
}
.bar {
	margin: 0px;  COLOR: #cccccc;  BACKGROUND-color: #d6d6d6; TEXT-DECORATION: none
}
.barmax {
	background: #4277ff;
}


#daGalBg {z-index: 300007; background:#2b2b2b; position:fixed; top:0; left:0; width:100%; height:100%; opacity:0.3; -ms-filter:"alpha(opacity=30)"; filter:alpha(opacity=30); //position:absolute; top:expression(eval(document.body.scrollTop)+'px'); height:expression(eval(document.body.clientHeight)+'px')}
#daGalContainer {border-collapse:collapse; position:absolute; background:#fff; border:1px solid #ddd; z-index:300009; height:200px; width:300px; top:0; left:0}
#daGalContainer .daTools {height:40px; padding:10px 10px 0 10px}
#daGalContainer .daImg {padding:10px; text-align:center; vertical-align:middle; color:#f00}
#daGalContainer .daPrev, #daGalContainer .daLupa, #daGalContainer .daNext, #daGalContainer .daClose {display:block; height:32px; width:32px} 
#daGalContainer .daClose {background:url('/pic/misc.png') no-repeat 0 top; float:right}
#daGalContainer .daPrev {background:url('/pic/misc.png') no-repeat -32px top; float:left; margin:0 20px 0 0; display:none}
#daGalContainer .daNext {background:url('/pic/misc.png') no-repeat -64px top; float:left; margin:0 20px 0 0; display:none}
#daGalContainer .daLupa {background:url('/pic/misc.png') no-repeat -96px top; float:left; margin:0 20px 0 0; display:none}
#daGalContainer .daDesc { padding:0; margin:10px 0 0 0; font:bold 12px "free sans",Tahoma,Arial,Helvetica,sans-serif; text-align:left; color:#000}
.daGalLoad {background:url('/pic/loading.gif') no-repeat center center}



.alink {
        display: inline-block;
        padding: 4px;
        outline: 0;
        color: #3362A3;
        -webkit-transition-duration: 0.25s;
        -moz-transition-duration: 0.25s;
        -o-transition-duration: 0.25s;
        transition-duration: 0.25s;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        -o-transition-property: -o-transform;
        transition-property: transform;
        -webkit-transform: scale(1) rotate(0);
        -moz-transform: scale(1) rotate(0);
        -o-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0);
}
.alink:hover {
        background: #2F81DB;
        text-decoration: none;
        color: #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        -webkit-transform: scale(1.05) rotate(-1deg);
        -moz-transform: scale(1.05) rotate(-1deg);
        -o-transform: scale(1.05) rotate(-1deg);
        transform: scale(1.05) rotate(-1deg);
}
.alink:nth-child(2n):hover {
  -webkit-transform: scale(1.05) rotate(1deg);
  -moz-transform: scale(1.05) rotate(1deg);
  -o-transform: scale(1.05) rotate(1deg);
  transform: scale(1.05) rotate(1deg);
}



/* ЭТО ЧАТ TESLA*/
#chatContainer{
width:100%;
position:relative;
text-align:left;
}
#chatTopBar{
	background:url('../pic/chat/solid_gray.jpg') repeat-x #d0d0d0;
	border:1px solid #fff;
	margin-bottom:15px;
	position:relative;
	color:#777;
}
#chatTopBar .name{
	position:absolute;
	top:10px;
	left:40px;
}
#chatLineHolder{
	height:400px; /* ДЛИНА ЧАТА ПО ВЫСОТЕ*/
/*	min-height:1024px;  mIN ДЛИНА ЧАТА ПО ВЫСОТЕ*/
	max-height:2024px; /* mxa ДЛИНА ЧАТА ПО ВЫСОТЕ*/
	width:100%;
	margin-bottom:20px;
}
.chat{
	min-height:24px;
	padding:6px;
	border:1px solid #FFFFFF;
	
	padding:8px 6px 4px 5px;
	position:relative;
	margin:0 10px 10px 0;
}
.chat:last-child{
	margin-bottom:0;
}
.chat .text{
	overflow:hidden;
	vertical-align:top;
	width:95%;
}
.chat .time{
	position:absolute;
	right:10px;
     right: 10px;
	/*   bottom: -20px; 
    top:12px;    */
	font-size:11px;
}
.chat .author{
	margin-right:6px;
}
#chatBottomBar{
	background:url('../pic/chat/solid_gray.jpg') repeat-x #d0d0d0;
	position:relative;
	padding:10px;
	border:1px solid #fff;
}
#chatBottomBar .tip{
	position:absolute;
	width:0;
	height:0;
	border:10px solid transparent;
	border-bottom-color:#eeeeee;
	top:-20px;
	left:20px;
}
#chatContainer input{
	background:url('../pic/chat/input_bg.jpg') repeat-x #dcdcdc;
	height:26px;
	font:13px/26px Calibri,Arial,sans-serif;
	color:#000000;
	border:1px solid;
	border-color:#c1c1c1 #eee #eee #c1c1c1;
	text-shadow:1px 1px 0 #E4E4E4;
	padding:0 5px;
	margin-right:5px;
	outline:none;
}
.jspVerticalBar{
	background:none;
	width:20px;
}
.jspTrack{
	width:3px;
	right:-10px;
}
.jspDrag {
	background:url('../pic/chat/slider.png') no-repeat;
	width:20px;
	left:-9px;
	height:20px !important;
	margin-top:-5px;
}
.jspDrag:hover{
	background-position:left bottom;
}
#chatContainer .btn:hover{
	background-position:left bottom;
}
.rounded{
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
#chatErrorMessage{
	width:100%;
	top:0;
	left:0;
	position:fixed;
	background-color:#ab0909;
	border-bottom:1px solid #d32a2a;
	font-size:23px;
	padding:16px;
	text-align:center;
	color:#fff;
	text-shadow:1px 1px 0 #940f0f;
}

/* ЭТО ЧАТ TESLA*/