<table width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width: 565px">
<tr><td class="block">
	<table width="100%" border="0" cellpadding="0" cellspacing="0"><tr>
	<td class="block" width="15" align="left"><img src="themes/$ss_uri/images/cellpic_left.gif" width="15" height="44" style="padding:0;margin:0;"></td>
	<td class="block" width="100%" align="center" valign="middle" background="themes/$ss_uri/images/cellpic.gif"><div id="cap">$title</div></td>
	<td class="block" width="15" align="right"><img src="themes/$ss_uri/images/cellpic_right.gif" width="15" height="44"></td>
	</tr></table>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: separate;">
    <tr><td id="left-left"></td><td align="left" style="border:0; background-color: #FAFAFA !important;">$content</td><td id="left-right"></td></tr>
    <tr><td id="news-left-down"></td><td id="left-center-down"></td><td id="left-right-down"></td></tr>
    </table>
</td></tr></table><br />