<table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td class="block">
	<table width="100%" border="0" cellpadding="0" cellspacing="0"><tr>
	<td class="block" align="left"><img src="themes/$ss_uri/images/center_l.gif" width="8" height="25"></td>
	<td class="block" width="100%" align="center" valign="middle" background="themes/$ss_uri/images/center.gif" height="25"><font class="block-title" valign="bottom"><strong>$title</strong></font></td>
	<td class="block" align="right"><img src="themes/$ss_uri/images/center_r.gif" width="8" height="25"></td>
	</tr></table>
	<table width="100%" border="0" cellspacing="1" cellpadding="3"><tr>
	<td align="left">$content</td>
	</tr></table>
</td></tr>
</table>


<table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td class="block">
	<table width="100%" border="0" cellpadding="0" cellspacing="0"><tr>
	<td class="block" align="left"><img src="themes/$ss_uri/images/low_l.gif" width="7" height="10"></td>
	<td class="block" width="100%" align="center" valign="middle" background="themes/$ss_uri/images/low.gif" height="10"></td>
	<td class="block" align="right"><img src="themes/$ss_uri/images/low_r.gif" width="7" height="10"></td>
	</tr></table>
</td></tr>
</table>


<br />
