<span class="widget"><table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
<tbody><tr><td width="68" height="52"><img border="0" src="/themes/MsTesla/images/nn1.png"></td><td valign="top" align="center" style="background-image: url(/themes/MsTesla/images/nn2.png);padding-top: 20px; "><h3><span id="btid11"><span class="widget-head">$title</span></span></h3>&nbsp;</td><td width="68" height="52"><img border="0" src="/themes/MsTesla/images/nn3.png"></td></tr>
</tbody></table>
<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
<tbody><tr><td width="30" height="4"><img border="0" src="/themes/MsTesla/images/nvl.png"></td><td style="background-image: url(/themes/MsTesla/images/nvs.png);"></td><td width="30" height="4"><img border="0" src="http://i072.radikal.ru/1001/ef/00408b67c0d2.png"></td></tr>
<tr>
<td style="background-image: url(/themes/MsTesla/images/nvl.png);"></td>
<td style="background-image: url(/themes/MsTesla/images/nvs.png);">
$content
</td><td style="background-image: url(/themes/MsTesla/images/nvp.png);"></td>
</tr>
<tr><td width="30" height="4"><img border="0" src="/themes/MsTesla/images/nvl.png"></td><td style="background-image: url(/themes/MsTesla/images/nvs.png);"></td><td width="30" height="4"><img border="0" src="/themes/MsTesla/images/nvp.png"></td></tr>
</tbody></table>
<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
<tbody><tr><td width="68" height="52"><img border="0" src="/themes/MsTesla/images/nnn1.png"></td><td valign="top" align="center" style="background-image: url(/themes/MsTesla/images/nnn2.png);padding-top: 20px; ">&nbsp;</td><td width="68" height="52"><img border="0" src="/themes/MsTesla/images/nnn3.png"></td></tr>
</tbody></table><br></span>