<span class="widget"><table border="0" cellpadding="0" cellspacing="0" width="202" >
<tbody>
<tr> <td align="center" valign="top" style="background-image:url(/themes/MsTesla/images/bsin1.png); height: 84px; ; color:#6eb9ff; padding-top: 55px; font-size: 10pt;"><b><span id='btid39'><span class="widget-head">$title</span></span></b></td></tr>
<tr><td style="background-image:url(/themes/MsTesla/images/bsin2.png); padding:0px 20px 0px 20px;">
<div class="widget-content" style="display: block" id='b39'>$content</div>

<tr><td><img src="/themes/MsTesla/images/bsin3.png" border="0"></td></tr>
</tbody></table><br></span>