<span class="widget"><table border="0" cellpadding="0" cellspacing="0" width="202" >
<tbody>
<tr> <td align="center" valign="top" style="background-image:url(/themes/MsTesla/images/borange1.png); height: 84px; ; color:#ffa500; padding-top: 55px; font-size: 10pt;"><b><span id='btid40'><span class="widget-head">$title</span></span></b></td></tr>
<tr><td style="background-image:url(/themes/MsTesla/images/borange2.png); padding:0px 20px 0px 20px;">
<div class="widget-content" style="display: block" id='b40'><table class="main" align="center" border="1" cellspacing="0" cellpadding="10"><tr><td class='noborder'>
$content
</td></tr></table></div>
<tr><td><img src="/themes/MsTesla/images/borange3.png" border="0"></td></tr>
</tbody></table><br></span> 