<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr><td class="btl" width="30"></td><td heigth="60" class="block-title" align="center">$title</td><td width="30" class="btr"></td></tr>
<tr><td class="bcl"></td><td class="block-content" align="center">$content</td><td class="bcr"></td></tr>
<tr><td width="30" class="bbl"></td><td class="bbc" height="30"></td><td width="30" class="bbr"></td></tr>
</table><br />