<center>
<table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td class="btl"></td><td class="btm"><font class="block-title" valign="bottom"><strong>$title</strong></font></td><td class="btr"></td>
	</tr></table>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr><td class="btl_d"></td><td class="btm_d">&nbsp;</td><td class="btr_d"></td></tr>
    </table>
<table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td class="bol"></td>
<td class="block">
$content
</td><td class="bor"></td></tr><tr><td class="bbl"></td><td class="bbm"></td><td class="bbr"></td></tr></table><br /></center>