<table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td class="block">
	<table width="100%" border="0" cellpadding="0" cellspacing="0"><tr>
	<td class="block" width="14" align="left"><img src="themes/$ss_uri/images/block_04.gif" width="14" height="24"></td>
	<td class="block" width="100%" align="center" valign="middle" background="themes/$ss_uri/images/block_02.gif"><font class="block-title" valign="bottom"><strong>$title</strong></font></td>
	<td class="block" width="14" align="right"><img src="themes/$ss_uri/images/block_03.gif" width="14" height="24"></td>
	</tr></table>
	<table width="100%" border="0" cellspacing="1" cellpadding="3"><tr>
	<td align="left">$content</td>
	</tr></table>
</td></tr></table><br />